<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>О нас | Курсы сербского языка</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <header class="header">
        <a class="header-logo" href="#">Сербский язык</a>
        <nav class="nav">
            <a class="nav-link" href="about.html">О нас</a>
            <a class="nav-link" href="#">Программа курсов</a>
            <a class="nav-link" href="#">Расписание</a>
            <a class="nav-link" href="#">Контакты</a>
        </nav>
    </header>
    <section class="about-section">
        <h1>О нас</h1>
        <div class="row">
            <div class="col-md-6">
                <h2>Наша миссия</h2>
                <p>Мы стремимся помочь людям достичь своих языковых целей через эффективные и интерактивные методы обучения сербскому языку.</p>
                <p>Наша команда опытных преподавателей и тьюторов готова подстроиться под ваши потребности и помочь вам достичь желаемого уровня владения языком.</p>
            </div>
            <div class="col-md-6">
                <h2>Наша история</h2>
                <p>Наша школа сербского языка была основана в 2008 году в Санкт-Петербурге. С тех пор мы расширили свою деятельность и открыли филиалы в Москве, Казани и Сочи.</p>
                <p>Наши курсы по сербскому языку пользуются популярностью у студентов всех уровней, начиная от начинающих и заканчивая продвинутыми пользователями, которые хотят улучшить свои языковые навыки.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <h2>Почему выбирают наши курсы?</h2>
                <ul>
                    <li>Индивидуальный подход к каждому студенту;</li>
                                </div>
            <div class="col-md-6">
                <h2>Расписание занятий</h2>
                <p>Мы проводим занятия несколько раз в неделю, с учетом желаний и возможностей студентов. Наши расписания удобны и гибки, и мы готовы подстроиться под ваши потребности.</p>
                <a href="schedule.html" class="btn btn-primary">Посмотреть расписание</a>
            </div>
        </div>
    </section>
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h4>Контакты</h4>
                    <p>Телефон: +7 (123) 456-78-90</p>
                    <p>Email: info@serbian-language.ru</p>
                </div>
                <div class="col-md-6">
                    <h4>Подписывайтесь на нас в социальных сетях</h4>
                    <div class="social-links">
                        <a href="#" class="social-link"><i class="fab fa-facebook"></i></a>
                        <a href="#" class="social-link"><i class="fab fa-instagram"></i></a>
                        <a href="#" class="social-link"><i class="fab fa-twitter"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.6.0/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>

